 body {
     font-family: "Roboto", sans-serif;
     color: #434455;
     background-color: #fff;
 }

 /*reset*/
 ul,
 ol {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }



 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
     margin: 0;
 }

 a {
     text-decoration: none;
 }

 /*comon*/

 .container {
     max-width: 1158px;
     padding: 0 15px;
     margin: 0 auto;

 }
 




 .icon {

     fill: #F4F4FD;


 }
 .main {
     padding-top: 188px;
     padding-bottom: 188px;


     background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     max-width: 1440px;
     margin-left: auto;
     margin-right: auto;


     background-color:
         #2e2f42;
 }
 .modal-input.modal-taxtarea {

    width: 360px;
    height: 120px;


 }