.page-footer {
    display: flex;
    
    background-color: #2e2f42;

}
.social-links.social-icons .link:hover,
.social-links.social-icons .link:focus {
    background-color: #31D0AA;
}
.page-footer {
    display: flex;
}

.footer-form-input {
    margin-right: 24px;
border: 1px solid #fff;
    border-radius: 4px;
    padding-block: 8px;
    padding-inline: 16px;
    width: 264px;
    height: 40px;
    background-color: #2e2f42;
    
    
   

}
.footer-container {
    display: flex;

    
       
}

.footer-info {
    margin-left: 120px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}



.footer-text {

    

}

.footer-logo .logo-part {
    color: #f4f4fd;
}
.page-footer {

    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #2e2f42;

}
.social-links.social-icons {
    display: flex;
    margin-left: 120px;
    gap: 16px;
    padding-top: 16px;
}
.footer-text-info{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;

}

.footer-form-button {
    
border-radius: 4px;
    
    padding-inline: 24px;
    
    width: 165px;
    height: 40px;
    max-width: 165px;
    background: #4d5ae5;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        
}
.footer-information {
margin-left:  79px;


}

.footer-form-button:hover {

    background: #31d0aa;
}
#footer-email::placeholder {
font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #fff;


}