.page-footer {
    display: flex;
    
    background-color: #2e2f42;

}
.social-links.social-icons .link:hover,
.social-links.social-icons .link:focus {
    background-color: #31D0AA;
}
.page-footer {
    display: flex;
}

.footer-form-input {
    margin-right: 24px;
   border: 1px solid #fff;
    border-radius: 4px;
    padding-block: 8px;
    padding-inline: 16px;
    width: 264px;
    height: 40px;
    background-color: #2e2f42;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    font-weight: 400;
    font-size: 12px;

    /* line-height: 14px; */
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #fff;
    outline: transparent;
}


.footer-form-input:focus{

border-color: #31d0aa;


}



.footer-container {
    display: flex;
}

.footer-info {
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}
.footer-media {
margin-left: 120px;


}





.footer-text {

    

}

.footer-logo .logo-part {
    color: #f4f4fd;
}
.page-footer {

    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #2e2f42;

}
.social-links.social-icons {
    display: flex;
    
    gap: 16px;
    padding-top: 16px;
}
.footer-text-info{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;

}

.footer-form-button {
    display: flex;
    gap: 16px;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px; 
    padding-right: 24px;
    border:none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
    width: 165px;
    height: 40px;
    max-width: 165px;
    background-color: #4d5ae5;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        
}
.footer-information {
margin-left:  80px;


}

.footer-form-button:hover,
.footer-form-button:focus {

    background-color: #31d0aa;
}
#footer-email::placeholder {
font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #fff;


}
.footer-form {
display: flex;


}