 .button {

     display: block;
     margin: 0 auto;
     border: none;


     background-color: #4d5ae5;

     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     color: #fff;
     padding-left: 32px;
     padding-right: 32px;
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.04em;
     cursor: pointer;

     border-radius: 4px;
     padding-block: 16px;
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

 }

 .button:hover {
    
    fill: #2e2f42};
 .button:focus {


     background-color: #404bbf;
 }