 



body {
  font-family: "Roboto",sans-serif;
  color: #434455;
  background-color: #fff;
}

/*reset*/
ul,ol {
list-style-type:none;
margin: 0;
padding: 0;
}



h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

/*comon*/

.container {
max-width: 1158px;
padding: 0 15px;
margin: 0 auto;

}

/*header*/

.page-header {
 border-bottom: 1px solid #e7e9fc;
box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
display: flex;
align-items: center;

}
.header-nav {
  display: flex;
  align-items: center;

}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
padding: 24px 0;
margin-right: 76px;

}

.header-logo .logo-part {

  color: #2E2F42
}
.footer-logo .logo-part {
color: #f4f4fd;
}
.nav-list {
display: flex;
align-items: center;
gap: 40px;
}

.nav-link {
  padding: 24px 0;
  display: block;
  font-weight: 500;
    font-size: 16px;
  
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current {
position: relative;

}
.nav-link.current::after {
content: "";
position: absolute;
left: 0;
bottom: -1px;
width: 100%;
height: 4px;
border-radius: 2px;
background-color: #404bbf;

}




.nav-link:hover,
.nav-link:focus,
.nav-link.current {
color: #404bbf;
}
.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
display: flex;
align-items: center;
gap: 40px;

}
.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
   color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.page-footer {
background-color: #2e2f42;

}
.text {
font-family: "Roboto", sans-serif;
font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

}
.main {
padding-top: 188px;
padding-bottom: 188px;


background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/people-office.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
max-width: 1440px;
margin-left: auto;
margin-right: auto;


  background-color: 
  #2e2f42;
}
.post-title {
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
   
  font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.align {
   
   
   font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.personnel {
  background-color:
  #f4f4fd;
}
.button {
  
  display: block;
  margin: 0 auto ;
  border: none;
   
    
   background-color:  #4d5ae5;
   
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff; 
  padding-left:  32px;
  padding-right: 32px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer ;

  border-radius: 4px;
  padding-block: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    
 }
.button:hover,
.button:focus {
  

  background-color: #404bbf ;
}

.social-links .link:hover,
.social-links .link:focus {
background-color: #404BBF;

}

.social-links.social-icons .link:hover,
 .social-links.social-icons .link:focus {
  background-color:#31D0AA;
}
 .features-one {
  padding-top: 120px;
  padding-bottom: 120px;

 }

.features-list {
display: flex;
gap: 24px;



}
.features-item {

  width: calc((100% - 24px * 3) / 4);
 
}
.box {
 margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 100%;
  height: 112px;
  background: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio {
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.team {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

}
.prof {

  margin-bottom: 8px;
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;

}
.my-card {
display: flex;
gap: 24px;


}
.card {
  border-radius: 0 0 4px 4px;
  width: calc((100% - 24px * 3) / 4);
   background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    
}
.work-card {
  padding-top: 120px;
  padding-bottom: 120px;
   background: #f4f4fd;
}
.our-image {
  display: block;
}


.our-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  
 }
 

 .info {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  

 }
.merits {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.description {

  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.page-footer {
  
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;

}
.text {
  margin-top: 16px;
max-width: 264px;


}

.working {
   
padding: 32px 16px;

border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.achiev {

  font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  
    color: #2e2f42;
}

.area {
margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;


}

.name {
padding: 32px 16px;


}

.social-links {
  display: flex;
  gap:  24px;
  justify-content: center;
  
   }

.social-links.social-icons {
display: flex;
gap: 16px;
padding-top: 16px;
}



.social-links .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4D5AE5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

  

.icon {

   fill: #F4F4FD;
   
   
}
.text-image {
  position: relative;
  overflow: hidden;


}
.text-info {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
   height: 100%; 
   padding: 40px 32px;
   transform: translateY(100%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.portfolio-item:hover .text-info, 
.portfolio-item:focus .text-info,
 .portfolio-item:focus-within {
    
transform: translateY(0%);


}

.portfolio-item:hover {

  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}



.portfolio-item {
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc((100% - 24px * 2) / 3);
  
  
   }

.footer-container {
display: flex;
align-items: baseline;
}

.footer-info {
  
  
font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;


}

.footer-media {
  


}

.footer-text {

margin-right: 120px;

}