.team {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;

}

.prof {

    margin-bottom: 8px;
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;

}

.my-card {
    display: flex;
    gap: 24px;


}

.card {
    border-radius: 0 0 4px 4px;
    width: calc((100% - 24px * 3) / 4);
    background-color: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.work-card {
    padding-top: 120px;
    padding-bottom: 120px;
    background: #f4f4fd;
}

.our-image {
    display: block;
}
.social-links .link:hover,
.social-links .link:focus {
    background-color: #404BBF;

}
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    color: #404bbf;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;

}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
.social-links {
    display: flex;
    gap: 24px;
    justify-content: center;

}





.social-links .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.name {
    padding: 32px 16px;
}
.personnel {
    background-color:
        #f4f4fd;
}

.info {
    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;


}

.merits {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.description {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.text {
    margin-top: 16px;
    max-width: 264px;


}

.working {

    padding: 32px 16px;

    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.achiev {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: #2e2f42;
}

.area {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;


}